.shake {
}

button {
  height: auto;
  width: auto;
  font-size: 5rem;
}
body {
  background-color: rgb(50, 50, 51);
  font-size: xx-large;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.shooked {
  align-items: center;
}

li {
  list-style: none;
}
.B__num {
  background-color: rgb(192, 86, 86);
}
.I__num {
  background-color: rgb(208, 166, 87);
}
.N__num {
  background-color: rgb(238, 238, 143);
}
.G__num {
  background-color: rgb(122, 122, 238);
}
.O__num {
  background-color: rgb(183, 116, 232);
}

.column {
  text-align: center;
  font-size: 3rem;
  float: left;
  width: 20%;
}

ul {
  margin: 0px 0px;
}
