.shake {
  cursor: pointer;
  width: 500px;
  user-select: none;
}

h {
  color: yellow;
  font-size: 3rem;
}
.unselectable {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

body {
  background-image: linear-gradient(to right, rgb(0, 81, 255), rgb(68, 59, 56));
  font-size: xx-large;
}

.container {
  left: -3srem;
  position: absolute;
  bottom: 100px;
}

.lastNum {
  left: 200%;
  color: orange;
  font-size: 5rem;
  position: absolute;
}
.shooked {
  position: absolute;
  top: 10rem;
  left: 20rem;
}

li {
  list-style: none;
  outline: solid black;
}
.B__num {
  background-color: rgb(192, 86, 86);
}
.I__num {
  background-color: rgb(208, 166, 87);
}
.N__num {
  background-color: rgb(238, 238, 143);
}
.G__num {
  background-color: rgb(122, 122, 238);
}
.O__num {
  background-color: rgb(183, 116, 232);
}

.column {
  position: relative;
  text-align: center;
  font-size: 1.8rem;
  float: left;

  width: 6rem;
  left: 60%;
}

ul {
  margin: 0px 0px;
}
